@model KupacDodajVM

@{
    ViewData["Title"] = "Dodaj";
}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2><b>Dodaj kupca</b></h2>

            </header>

            <br />
            <br />

            <div class="panel-body">

                <form asp-action="Snimi" method="post">

                    <input asp-for="@Model.Kupac.KupacID" hidden />

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="alert alert-danger"></div>
                    }

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.NazivKupca">Naziv kupca:</label>
                                <input asp-for="Kupac.NazivKupca" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.ID_broj">ID broj:</label>
                                <input asp-for="Kupac.ID_broj" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.PDV_broj">PDV broj:</label>
                                <input asp-for="Kupac.PDV_broj" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.Adresa">Adresa:</label>
                                <input asp-for="Kupac.Adresa" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.GradID">Grad:</label>

                                <select asp-for="Kupac.GradID" asp-items="Model.gradovi" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Kupac.VirmanDani">Virman - broj dana na računu:</label>
                                <input type="number" asp-for="Kupac.VirmanDani" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <a asp-action="Dodaj" asp-controller="Grad" class="btn btn-default"><i class="fa fa-plus"></i> Dodaj novi grad u bazu</a>
                            </div>
                            <div class="pull-right">
                                <button id="dodaj" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Dodaj</button>
                                <a asp-action="Index" class="btn btn-default"><i class="fa fa-times"></i> Odustani</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
    </section>
</section>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:200px !important;">
        <h2 style="margin:0 auto;">Dodavanje kupca...</h2>
        <div style="margin:0 auto;" class="loader"></div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    //  var btn = document.getElementById("myBtn");
    var dodaj = document.getElementById("dodaj");
    // Get the <span> element that closes the modal

    // When the user clicks the button, open the modal

    dodaj.onclick = function () {
        modal.style.display = "block";
        window.location.href = $(this).attr("href");

    }

    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it
</script>