
@{
    ViewData["Title"] = "Dodaj";
}
@model OtpremnicaDodajVM
<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2><b>Dodaj otpremnicu ili revers</b></h2>

            </header>
            <br />
            <br />

            <div class="panel-body">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/Otpremnice/Index" style="background-color:orangered;"><i class="fa fa-close"></i> Odustani</a>
                </div>
                <br />
                <br />
                <br />
                <form action="/Otpremnice/Snimi" style="width:50%;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="KupacID ">Odaberite kupca: </label>
                                <select asp-for="KupacID" asp-items="@Model.Kupci" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <p style="color:red;">
                                    Ostavite prazan kvadratić za izdavanje otpremnice,<br />
                                    označite kvadratić da izdate revers:  &nbsp;
                                    @Html.CheckBoxFor(Model => Model.Revers, new { @id = "fold" })<br />
                                </p>


                            </div>
                        </div>

                    </div>


                    <button id="dodavanje" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj  <span id="fold2">otpremnicu</span></button>
                </form>

            </div>
        </section>
    </section>
</section>
<script>
    $(document).ready(function () {
        $("#dodavanje").click(function () {
            alertify.set('notifier', 'position', 'top-left');
            alertify.success("Uspjesno dodana otpremnica / revers!");
        });

    })

    jQuery("#fold").click(function () {
        if (jQuery("#fold2").text() == "otpremnicu") {
            jQuery("#fold2").text("revers");
        }
        else {
            jQuery("#fold2").text("otpremnicu");
        }
    });
</script>
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:200px !important;">
        <h2 style="margin:0 auto;">Učitavanje...</h2>
        <div style="margin:0 auto;" class="loader"></div>
    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    //  var btn = document.getElementById("myBtn");
    var dodaj = document.getElementById("dodavanje");
    // Get the <span> element that closes the modal

    // When the user clicks the button, open the modal

    dodaj.onclick = function () {
        modal.style.display = "block";
        window.location.href = $(this).attr("href");

    }

    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it

</script>
