
@{
    ViewData["Title"] = "DodajStavku";
}
@model OtpremnicaDodajStavkuVM
<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2><b>Dodaj stavku</b></h2>
                <hr />
            </header>
            <br />
            <br />
            <div style="margin-left:5px;">
            </div>
            <div class="panel-body">
                <div class="pull-right">
                    <a class="btn btn-primary" asp-action="Detalji" asp-route-OtpremnicaId="@Model.stavka.OtpremnicaID" style="background-color:orangered;border-style:none;"><i class="fa fa-close"></i> Odustani</a>
                </div>
                <br />
                <br />
                <br />
                <form action="/Otpremnice/SnimiStavku" style="width:50%;">

                    <input asp-for="stavka.OtpremnicaID" hidden />
                    <input asp-for="stavka.OtpremnicaProizvodID" hidden />

                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label asp-for="stavka.ProizvodID ">Odaberite proizvod: </label>
                                <select asp-for="stavka.ProizvodID" asp-items="@Model.proizvodi" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="stavka.KolicinaKG ">Kolicina u KG: </label>
                                <input asp-for="stavka.KolicinaKG" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <h7 style="color:red;"><i>Za odvajanje decimalnih mjesta koristite <b>tačku</b>  &nbsp &nbsp </i></h7><br /><br />
                    </div><br /><br />
                    <button id="dodaj" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj</button>
                </form>

            </div>
        </section>
    </section>
</section>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:200px !important;">
        <h2 style="margin:0 auto;">Dodavanje stavke...</h2>
        <div style="margin:0 auto;" class="loader"></div>
    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
  //  var btn = document.getElementById("myBtn");
    var dodaj = document.getElementById("dodaj");
    // Get the <span> element that closes the modal

    // When the user clicks the button, open the modal

    dodaj.onclick = function () {
        modal.style.display = "block";
        window.location.href = $(this).attr("href");

    }

    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it

</script>