@model Sevdah.ViewModel.RacuniDodajVM
@{
    ViewData["Title"] = "Dodaj";
}
<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2><b>Dodaj račun</b></h2>

            </header>
            <br />
            <br />

            <div class="panel-body">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/Racuni/Index/Virman" style="background-color:orangered;"><i class="fa fa-close"></i> Odustani</a>
                </div>
                <br />
                <br />
                <br />
                <form action="/Racuni/Snimi" style="width:40%;">
                  <label asp-for="racun.KupacID">Odaberite kupca: </label>
                    @Html.DropDownListFor(model => model.racun.KupacID, Model.listaKupaca, new { @class="form-control"})
                    <br />
                    <button id="dodavanjeRacuna" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj</button>
                </form>

            </div>
        </section>
    </section>
</section>
<script>
    $(document).ready(function () {
        $("#dodavanjeRacuna").click(function () {
            alertify.set('notifier', 'position', 'top-left');
            alertify.success("Uspjesno dodan račun!");
        });

    })
</script>


